<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE suite SYSTEM "https://testng.org/testng-1.0.dtd">
<suite name="My Demo Suite">
<listeners>
<listener class-name="com.companyName.projectName.Utility.TestListener"></listener>
</listeners>
  <test  name="Sample Regression Test">
    <classes>
      <class name="com.companyName.projectName.TestCases.SearchItemOnAmazonTest"/>
    </classes>
  </test> <!-- Test -->
</suite> <!-- Suite -->
